# **Import Library**

In [ ]:
from google.colab import drive
 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np
import itertools
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer
from sklearn import metrics
import matplotlib.pyplot as plt

# **EDA**

In [ ]:
df = pd.read_excel('/content/gdrive/My Drive/BDC SD/Salinan Data Latih BDC.xlsx')
df_judul = df['judul']
df_narasi = df['narasi']
df_label = df['label']
df.head(10)

     ID  ...  nama file gambar
0    71  ...            71.jpg
1   461  ...           461.png
2   495  ...           495.png
3   550  ...           550.png
4   681  ...           681.jpg
5   736  ...           736.png
6  1161  ...          1161.png
7  1597  ...          1597.png
8  2098  ...          2098.jpg
9  2226  ...          2226.png

[10 rows x 6 columns]

In [ ]:
df.shape
df = df.drop(['tanggal', 'nama file gambar'], axis=1)
df.head(10)

     ID  ...                                             narasi
0    71  ...  A caller to a radio talk show recently shared ...
1   461  ...  Yth.Seluruh Anggota Grup Sesuai Instruksi Gube...
2   495  ...  Jokowi adalah presiden terbaik dlm sejarah ban...
3   550  ...  Maaf Mas2 dan Mbak2, ini bukan politik, tapi k...
4   681  ...        Kadrun kalo lihat foto ini panas dingin . .
5   736  ...  selamat siang teman teman fb ku semuanyaü§©,cuma...
6  1161  ...  LIHATLAH MEREKA SUDAH MEMPERSIAPKAN DIRI DENGA...
7  1597  ...  Italia punya fasilitas perawatan kesehatan ter...
8  2098  ...  Polisi goblok. Bukanya cpet‚Äù d tolongin malah ...
9  2226  ...  Polisi china telah menganiaya wanita uighur le...

[10 rows x 4 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4231 entries, 0 to 4230
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      4231 non-null   int64
 1   label   4231 non-null   int64
 2   judul   4231 non-null   object
 3   narasi  4231 non-null   object
dtypes: int64(2), object(2)
memory usage: 132.3+ KB

In [ ]:
df['label'].value_counts()

1    3465
0     766
Name: label, dtype: int64

In [ ]:
df['total']=df['judul'] + ' ' + df['narasi']
df.head()

    ID  ...                                              total
0   71  ...  Pemakaian Masker Menyebabkan Penyakit Legionna...
1  461  ...  Instruksi Gubernur Jateng tentang penilangan  ...
2  495  ...  Foto Jim Rohn: Jokowi adalah presiden terbaik ...
3  550  ...  ini bukan politik, tapi kenyataan Pak Jokowi b...
4  681  ...  Foto Kadrun kalo lihat foto ini panas dingin K...

[5 rows x 5 columns]

In [ ]:
df_t = pd.read_excel('/content/gdrive/My Drive/BDC SD/Document from Zahra')
df_t_judul = df_t['judul']
df_t_narasi = df_t['narasi']
df_t_label = df_t['label']
df_t.head()

       ID              tanggal  ... nama file gambar label
0  238057  2020-07-13 00:00:00  ...       238057.jpg     1
1  238158  2020-07-06 00:00:00  ...       238158.jpg     1
2  238865  2020-04-22 00:00:00  ...       238865.jpg     1
3  248298  2019-10-22 00:00:00  ...       248298.jpg     1
4  255176  2020-05-01 00:00:00  ...       255176.jpg     1

[5 rows x 6 columns]

In [ ]:
df_t['total']=df_t['judul'] + ' ' + df_t['narasi']
df_t = df_t.drop(['tanggal', 'nama file gambar'], axis=1)
df_t.head()

       ID  ...                                              total
0  238057  ...  Narasi Tito Karnavian Berideologi Komunis Kare...
1  238158  ...  Anies: Seberat beratnya Pekerjaan Akan terasa ...
2  238865  ...  Hindu di india Melemparkan Patung Buatan Merek...
3  248298  ...  RSCM Praktekkan Penyedotan Plug  Vena/Saluran ...
4  255176  ...  Permohonan Kelonggaran Angsuran ke OJK Untuk s...

[5 rows x 5 columns]

In [ ]:
df.head()

    ID  ...                                              total
0   71  ...  Pemakaian Masker Menyebabkan Penyakit Legionna...
1  461  ...  Instruksi Gubernur Jateng tentang penilangan  ...
2  495  ...  Foto Jim Rohn: Jokowi adalah presiden terbaik ...
3  550  ...  ini bukan politik, tapi kenyataan Pak Jokowi b...
4  681  ...  Foto Kadrun kalo lihat foto ini panas dingin K...

[5 rows x 5 columns]

# **Data Preprocessing**

In [ ]:
import nltk
import re
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk import sent_tokenize, word_tokenize

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

1. Stopwords Indonesia

In [ ]:
from nltk.corpus import stopwords
# ----------------------- get stopword from NLTK stopword -------------------------------
# get stopword indonesia
list_stopwords = stopwords.words('indonesian')
stop_words = list_stopwords

list_stopwords.extend(["yg", "dg", "rt", "dgn", "ny", "d", 'klo', 
                       'kalo', 'amp', 'biar', 'bikin', 'bilang', 
                       'gak', 'ga', 'krn', 'nya', 'nih', 'sih', 
                       'si', 'tau', 'tdk', 'tuh', 'utk', 'ya', 
                       'jd', 'jgn', 'sdh', 'aja', 'n', 't', 
                       'nyg', 'hehe', 'pen', 'u', 'nan', 'loh', 'rt',
                       '&amp', 'yah', 'lg', 'deh', 'toh', 'piye', 'prettt', 'tak', 'sblm', 'dlm', 'sekedar',
                       'ni', 'pa', 'si', 'keh', 'yaaaa', 'tsb', 'dll', 'gw', 'eh', 'iki', 'piye', 'trus',
                       'hayoo', 'smg', 'ybs', 'jdi', 'tlong', 'pngn', 'bg', 'gk', 'ad', 'ttg', 'hayo', 'lo', 'ente',
                       'gini', 'kyk', 'bhw', 'untk', 'jg', 'hehe', 'lgsg', 'udah', 'an', 'y√°ng', '√¨n√¨', 'o'])

In [ ]:
df.head()

    ID  ...                                              total
0   71  ...  Pemakaian Masker Menyebabkan Penyakit Legionna...
1  461  ...  Instruksi Gubernur Jateng tentang penilangan  ...
2  495  ...  Foto Jim Rohn: Jokowi adalah presiden terbaik ...
3  550  ...  ini bukan politik, tapi kenyataan Pak Jokowi b...
4  681  ...  Foto Kadrun kalo lihat foto ini panas dingin K...

[5 rows x 5 columns]

2. preprocessing data training dan testing

In [ ]:
#preprocessing data training
for index, row in df.iterrows():
    filter_sentence = ''
    filter_sentence2 = ''
    sentence = row['total']
    # Cleaning dengan regular expression
    sentence = re.sub(r'[^\w\s]', '', sentence)
    # Tokenization
    words = nltk.word_tokenize(sentence)
    # Menghilangkan stopwords
    words = [w for w in words if not w in stop_words]
    # Lower case
    for words in words:
      if words.lower() in model.wv.vocab:
        filter_sentence = filter_sentence  + ' ' + correction(words.lower())
      else:
        
        filter_sentence2 = filter_sentence2  + ' ' + words.lower()
    
    if filter_sentence != '':
      df.loc[index, 'total'] = filter_sentence
    else:
      df.loc[index, 'total'] = filter_sentence2

#preprocessing data testing    
for index, row in df_t.iterrows():
    filter_sentence3 = ''
    filter_sentence4 = ''
    sentence = row['total']
    # Cleaning dengan regular expression
    sentence = re.sub(r'[^\w\s]', '', sentence)
    # Tokenization
    words = nltk.word_tokenize(sentence)
    # Menghilangkan stopwords
    words = [w for w in words if not w in stop_words]
    # Lower case
    for words in words:
      if words.lower() in model.wv.vocab:
        filter_sentence3 = filter_sentence3  + ' ' + correction(words.lower())
      else:
        filter_sentence4 = filter_sentence4  + ' ' + words.lower()
    
    if filter_sentence3 != '':
      df_t.loc[index, 'total'] = filter_sentence3
    else:
      df_t.loc[index, 'total'] = filter_sentence4

3. Hasil Preprocessing Data Training

In [ ]:
df.head(10)

     ID  ...                                              total
0    71  ...   pemakaian masker menyebabkan penyakit legionn...
1   461  ...   instruksi gubernur jateng penilangan bermaske...
2   495  ...   foto jim jokowi presiden terbaik sejarah bang...
3   550  ...   politik kenyataan jokowi berhasil memulangkan...
4   681  ...   foto lihat foto panas dingin lihat foto panas...
5   736  ...   event promo smartphone jne 2020 spesial juni ...
6  1161  ...           menguasai negri lihatlah menguasai negri
7  1597  ...   foto presiden italia menangis lahan mengubur ...
8  2098  ...   kapolres timor utara nusa tenggara timur klar...
9  2226  ...   video polisi china menganiaya wanita uighur l...

[10 rows x 5 columns]

In [ ]:
#inisiasi x dan y
x_train = df['total']
y_train = df['label']

4. Hasil Preprocessing Data Testing

In [ ]:
df_t.head()

       ID  ...                                              total
0  238057  ...   narasi tito berideologi komunis disekolahkan ...
1  238158  ...   anies seberat beratnya pekerjaan ringan kerja...
2  238865  ...   hindu india melemparkan patung buatan laut me...
3  248298  ...   rscm praktekkan penyedotan plug darah rscm di...
4  255176  ...   permohonan kelonggaran angsuran ojk info kelo...

[5 rows x 5 columns]

In [ ]:
x_test = df_t['total']
y_test = df_t['label']

In [ ]:
df.head()

    ID  ...                                              total
0   71  ...   pemakaian masker menyebabkan penyakit legionn...
1  461  ...   instruksi gubernur jateng penilangan yg berma...
2  495  ...   foto jim jokowi presiden terbaik dlm sejarah ...
3  550  ...   politik kenyataan jokowi berhasil memulangkan...
4  681  ...   foto kalo lihat foto panas dingin kalo lihat ...

[5 rows x 5 columns]

In [ ]:

from google.colab import files
df.to_excel('datatrainbr.xlsx') 
files.download('datatrainbr.xlsx')

In [ ]:
df_t.to_excel('datatestbr.xlsx') 
files.download('datatestbr.xlsx')